/*background: #FFFFFF; меню
  background: #2F303A; герой
  background: #E5E5E5; особенности
  background: #F5F4FA; наша команда
  background: #2F303A;футер
  
  color: #2196F3;акцент и привыделении
  color: #212121;  цвет заголовков
  color: #757575;  вторичный текст текста, телефона в меню, должности разраб
  color: #FFFFFF; текст героя и футера, button
 */
/* Roboto 500  заголовки текста
/* Roboto 400  текст серый
 */
:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --secondary-accent-color: #ffffff;
  --bg-accent: #2f303a;
  --bg-primary: #e5e5e5;
  --bg-second: #f5f4fa;
}

body {
  /* background: var(--bg-primary); */
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* Шапка сайта */
.header {
  background: var(--secondary-accent-color);
}
.logo {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent-color {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link,
.contact-nav .link {
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .text.link:hover,
.contact-nav .text.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* сбрасывает точки в списках */
.list {
  list-style-type: none;
}
a.link {
  color: var(--title-color);
  text-decoration: none;
}

.text.link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--text-color);
  text-decoration: none;
}

/* акцент на текущей странице */
.site-nav .link.current {
  color: var(--accent-color);
}

/* /Шапка сайта */
/* Герой */
.hero {
  font-family: "Roboto", sans-serif;
  background: var(--bg-accent);
}
.hero .title {
  color: var(--secondary-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-accent-color);
  background: var(--accent-color);
}
/* / Герой */
/* Особенности  */
.features .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}
.features .text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* / Особенности  */

/* Чем мы занимаемся */

/* / Чем мы занимаемся */

/* Наша команда */
.section .title {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team .title {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}
.team .text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
  color: var(--text-color);
}
/* / Наша команда */

/* Футер */
.footer {
  background: var(--bg-accent);
}
.logo.footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-accent-color);
}

.footer .address {
  line-height: 1.71;
  color: var(--secondary-accent-color);
  font-style: normal;
  font-weight: 400;
}
.footer .contacts a {
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}
.contacts.list a.text:hover,
.contacts.list a.text:focus {
  color: var(--accent-color);
}

.contacts .address {
  color: var(--secondary-accent-color);
}
/* / Футер */

/* =============Portfolio Page========== */
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.button.list {
  color: var(--title-color);
  background: var(--bg-second);
  text-decoration: none;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--secondary-accent-color);
  background: var(--accent-color);
}

.gallery .gallery-title {
  color: var(--title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery .gallery-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
